.nav {
    margin: $gutter;
    
    input {
        display: none;
    }

    ul {
        padding: 0;
        display: none;
        list-style: none;
        text-align: center;
    }

    li {

    }
}